[2015-06-08 21:00] jacekwasilewski opened #2 "Slow ALS computation and inaccurate time measurements"
Hi @saulvargas,

I wanted to run HKV ALS method to generate recommendations for some relatively huge, sparse matrix - 4M of users, 500k of items. I was expecting that to take long time however I how feeling it takes bit longer that it should or/and reports execution time that is not accurate.

After around 3 hours of run, first iteration has finished and it reported that it took only 832s. I looke

[2015-06-08 21:14] saulvargas commented on #2
Hi @jacekwasilewski

1) The calculation of the square loss is only for testing purposes. In code that needs to run as fast as possible, you may turn off the logging at INFO level and thus the error won't be calculated. I'll take a look at the timing issue: the factorisation step should definitely take more that the calculation of the error. **EDIT: when the number of items is really large and the

[2015-06-08 21:38] saulvargas commented on #2
Hi again:

I've been thinking about the issue timing and, although I haven't tested it with a dataset as yours, I think I know what's happening... and it is the case that it takes more to compute the error (which is only informative and useless otherwise) than the factorisation itself.

It is actually quite simple. For each user, the product of the user vector with THE WHOLE item matrix is calcula

[2015-06-08 22:48] jacekwasilewski commented on #2
You're right - using different logging level should do the work.

I've just got some output to share:

[code]

I've just check the code and it looks like in the loss computation we iterate over users first and then items for the user, so we're good here. Then we have:

[code]

so you're right, this might take some time.

##

Also I've been wondering if we benefit a lot from using parallel streams

[2015-06-08 23:32] saulvargas commented on #2
In the future the logging code of the ALSFactorizer will look something like this:

[code]

Well, regarding the parallelisation, I would say it is in general terms quite beneficial. I've just finished a quick test with the MovieLens1M dataset (I know, quite small, but still illustrative) in which I used the HKVFactorizer with 1 to 6 thread threads (by setting java.util.concurrent.ForkJoinPool.comm

[2015-06-09 01:10] saulvargas commented on #2
An update of the previoius results, including a quick test with Netflix:
![ml1m](https://cloud.githubusercontent.com/assets/2616433/8048672/958e1d82-0e4c-11e5-9ea4-f97e143c33d5.png)
![netflix](https://cloud.githubusercontent.com/assets/2616433/8048674/97d6506e-0e4c-11e5-89ca-a31c9d0828b0.png)

[2015-06-09 14:25] jacekwasilewski commented on #2
I'll try later to get some results for dataset I'm using - although it might take some time, right now I'm using 40 cores and it still takes 15 or so minutes for an iteration.

I think we can close it.

[2015-06-09 14:25] #2 closed, assigned to nobody

[2015-06-11 06:34] yashoteja opened #3 "How to run examples in the code?"
Hi,

I have a very basic question.
I am not an avid user of java. There is not enough information in the Readme of the code regarding how to run examples. Can you give some pointers about how to proceed after downloading your code?

Thanks!

[2015-06-11 09:35] jacekwasilewski commented on #3
Hi @yashoteja,

If you just would like to run the examples are they are and you already have the code on your machine, you can try that:
1. Go to the RankSys-examples directory.
2. Run (I assume you have Maven installed):

[code]
3. If you would like to run e.g. `MetricExample` then just run:

[code]

   On Windows you might need to have the classpath set to:

[code]
4. If you get something like:

[2015-06-11 12:46] yashoteja commented on #3
That worked perfectly fine, thanks!!
Now I am getting the error you mentioned.
Please also clarify what is the format of input data (to be read from files) like (could not find it in the documentation).

[2015-06-11 14:16] jacekwasilewski commented on #3
Files should be just a normal tab-separated files with triples/tuples:

[code]

For features it's:

[code]

[2015-06-11 15:46] saulvargas commented on #3
Hi @yashoteja

Thanks for you interest in RankSys. May I know what kind of use do you have in mind for it? It is meant to be a framework for creating your custom applications in Java, and therefore it does not provide some kind of main programs to operate with it. The examples, well, are just examples, and it is fine that you try to execute them (of course, do whatever you want!) but they are not

[2015-06-15 12:10] saulvargas commented on #3
No reply since days. Issue closed.

[2015-06-15 12:10] #3 closed, assigned to nobody

[2015-06-29 08:49] yashoteja commented on #3
Hi @jacekwasilewski , Thanks a lot !!

Hi @saulvargas ,
I am a PhD student interested in the area of Recommender Systems.

I want to try out the recommendation algorithms available in RankSys on several datasets that I have, and for this purpose a generic program which can evaluate different algorithms out of box (without needing any wrapper programs) would indeed be very helpful.

Also, I want to

[2015-06-29 11:25] saulvargas commented on #3
Hi @yashoteja

Thanks for the reply. I will create another issue for the need of standalone programs to create and evaluate recommendations. Feel free to join the discussion.

I have to say, though, that this will take some time.

Cheers
Saúl

[2015-06-29 15:37] yashoteja commented on #3
Ok! Thanks!

[2015-07-02 15:17] saulvargas opened #6 "Command-line programs to generate and evaluate recommendations"
There has been some interest (see #3) in including command-line programs that generate and evaluate recommendations wrapping RankSys libraries. Currently, some users are modifying the examples in RankSys-examples as a work-around. Although the original purpose of RankSys was to be used as a library rather than a collection of programs, it is clear that providing such utilities would broaden the us

[2015-07-03 13:18] jacekwasilewski commented on #6
Hi @saulvargas,

I was thinking how this could be done.

First, natural, solution could be to have it all wrapped in one CLI program. Like it's been done in LensKit (http://lenskit.org/documentation/cli/lenskit.1.html) or MyMediaLite (http://www.mymedialite.net/documentation/rating_prediction.html). Apache Commons CLI (https://commons.apache.org/proper/commons-cli/usage.html) could be used to do i

[2015-07-03 13:51] saulvargas commented on #6
Hi @jacekwasilewski

Thanks for your vauable insights. Some comments:

1) Indeed, my main fear is that command-line applications tend to become more complex than the underlying libraries they are wrapping the more functionalities of the latter you want to expose with the former. Therefore, the option of CLI  should be kept as simple as possible without pretending to cover everything RankSys is abl

[2015-07-03 14:24] jacekwasilewski commented on #6
1) I checked how they did it at LensKit - https://github.com/lenskit/lenskit/tree/master/lenskit-cli/src/main/java/org/lenskit/cli - if you don't have many argument then it's quite simple and looks ok, although bit low-level to me.

2) It wouldn't be a scripting language because you wouldn't have the ability to assign something to local variables etc. It would be rather some kind of console from w

[2015-07-07 19:42] jacekwasilewski opened #10 "IntentModel with caching working much slower than without"
Hi @saulvargas,

I have found an interesting issue - if you use IntentModel with the caching option then e.g. xQuAD works waaaay longer than without caching - I assume with cache it should work faster, right?

Without caching - several seconds:

[code]

With caching - several minutes:

[code]

I had multithreading turned off, but when on it's still more or less like these results. And times are th

[2015-07-08 20:33] saulvargas commented on #10
Hi @jacekwasilewski. These days I am a little busy. Hopefully, I will take a look at the issue during this week.

[2015-07-08 20:36] jacekwasilewski commented on #10
No worries Saul - if I find a solution, I'll create a patch.

[2015-07-09 15:53] saulvargas commented on #10
Hi @jacekwasilewski

I took at look at the issue. First, a consideration: there is actually none (or little?) gain in caching when you are using a Model<U> just once. The caching feature was designed for cases when I had to use the same model over an over (for instance, testing xQuAD with a wide range of lambda values).

I did a quick check using MovieLens1M data and I found very little difference

[2015-07-09 16:11] jacekwasilewski commented on #10
Hi @saulvargas,

I don't think the size of the data set was causing this problem - it was just MovieLens 1M and I have 32GB of memory.

I'm experiencing different behavior when it comes to the count of method calls - I'll try to dig into it. For me it looked more like "when I use Lazy (from UserModel constructor) to create a new model, I create all of them again". But I'm not sure about.

[2015-11-21 12:11] jacekwasilewski opened #11 "Casting exception in TransposedPreferenceData"
Hi @saulvargas,

If you run `RecommenderExample` you will get:

[code]

Should your `TransposedPreferenceData` implement `FasterPreferenceData` if you are decorating `FastPreferenceData`?
In the `VectorSimilarity`, if you have an instance of `TransposedPreferenceData` that is decorating `SimpleFastPreferenceData` we fall into wrong if-case.

I do not know what was your intent - should we just have

[2015-11-21 13:37] saulvargas commented on #11
Hi @jacekwasilewski

Good catch! There is clearly a design flaw here (and a lack of proper pre-release testing on my side, but that's a different story). I might just merge the FastPreferenceData and FasterPreferenceData. That would solve the issue for now. What do you think?

Saúl

[2015-11-21 13:44] jacekwasilewski commented on #11
Having one interface probably would be the simplest solution for now - also, from the use point of view one could think "if something is Faster, what is the point of using something that is only Fast".

[2015-11-21 14:51] saulvargas commented on #11
Hi @jacekwasilewski

Could you please help me check that the changes made in branch "fixissue11" that I just pushed (https://github.com/RankSys/RankSys/tree/fixissue11) fix this bug?

Now FastPreferenceData implements the methods of the former FasterPreferenceData and includes an extra method indicating which set of methods are preferred (but not mandatory) when accessing the data.

Saúl

[2015-11-21 15:25] jacekwasilewski commented on #11
Hi @saulvargas,

I have run the same experiment using your fix and everything is OK.

We could think later what to do to prevent using `UnsupportedOperationExceptions` in `PLSAFactorizer.java` but this should be ok for now.

Jacek.

[2015-11-21 15:35] saulvargas commented on #11
The UnsupportedOperationExceptions should not be a problem, PLSAPreferenceData is private and under control. Thanks!

[2015-11-21 15:35] #11 closed, assigned to nobody

[2015-11-21 18:07] jacekwasilewski commented on #10
Hi @saulvargas,

I think I have found an explanation - it is not how the `FeatureIntentModel` caches but how it is created and how xQuAD is created and then how it is used:

[code]

The problem really is here `reranker.get()` - our reranker is declared inside a Supplier function and it gets executed every time when we call `reranker.get()`, so for every user recommendation we create `IntentModel`

[2015-11-21 18:19] saulvargas commented on #10
Great! Pull request accepted. Issue closed.

[2015-11-21 18:19] #10 closed, assigned to nobody

[2015-12-04 11:17] jacekwasilewski opened #13 "IntentModel extension"
Hi @saulvargas,

I am working again on the IntentModel and I would like to change it in a way that it offers not only p(a|u) but as well p(u|a) and p(u). Please take a look at the pull request and let me know if you would be happy with that.
The reason for that is that I would like to explore different definitions of intent models in different contexts and for that I would like to use different pr

[2015-12-04 11:24] saulvargas commented on #13
Hi Jacek,
I'll take a look at your suggestions sometime between this evening and tomorrow.
Cheers

[2015-12-08 22:49] saulvargas commented on #13
Hi @jacekwasilewski,

It took me a while but finally I have take a look at your proposal. I have some questions/remarks:
- Your model somehow assumes that we know about all the users on the system. While that can be true from a practical point of view (you know everything in your dataset), theoretically I find it hard to justify.
- As a follow up, how does knowing a probability of the user (both t

[2015-12-09 16:11] jacekwasilewski commented on #13
Hi @saulvargas,

Thanks for your comments.

Probability of user was there for the completeness (I have been doing some probability transformations and it appeared there at some point), however you are right and I aware of that, it does not impact the diversification as it stays the same for a user. I could remove that.

When it comes to your second question - I have broken down the intent model an

[2015-12-09 21:00] saulvargas commented on #13
I am fine with your proposal. Please just do the following changes changes:
- Remove the p(u).
- Make the methods in UserIntentModel "public", you made some changes in the code and in your request are "package".
- Change the name of puf to pu_f and pfu to pf_u.

¡Thanks!
Saúl

[2015-12-09 21:43] jacekwasilewski commented on #13
I have removed the p(u) and renamed puf and pfu.
As far as I know, there is no need for `public abstract` keywords for methods in interfaces - these are implicitly `public` and the interface is already `public` so those are accessible from any package - https://docs.oracle.com/javase/tutorial/java/IandI/interfaceDef.html. I can add them though.

[2015-12-09 21:49] saulvargas commented on #13
Ooops... I forgot it is an interface. Still, please add the "public" keyword for consistency with the rest of the code.

PS I always force myself into adding the appropriate access level modifier even for interfaces so I do not forget to include it in variable and method classes.

[2015-12-09 21:56] jacekwasilewski commented on #13
Sure, no problem - done.

[2015-12-09 21:59] #13 closed, assigned to nobody

[2015-12-18 21:14] saulvargas opened #15 "AverageRecommendationMetric::reset does not check the allUsers flag"
That makes the class have a bad behaviour when allUsers == true.

Fixing it now...

[2015-12-18 21:15] #15 closed, assigned to nobody

[2016-03-30 14:59] timgluz opened #17 "How i can create a new instance of SimpleFastUserIndex without the "load"-method?"
Hi,

i noticed that the constructor in the SimpleFastUserIndex class is protected.
Is there a way i can create a new instance the `SimpleFastUserIndex` without reading file?

I'm building simple Clojure app and i would like to include simple recommender system, but i've no access to underlying disk and all the states are kept in database;

I know that i could write my own Java implementation for U

[2016-03-30 15:18] saulvargas commented on #17
Hi Tim,

Normally I try to avoid having mutable objects, therefore this odd restriction. I believe that one possible workaround for this in Java would we something like the following code:

[code]

I imagine something similar can be done in Clojure?

Otherwise, if could add to the master branch a much simpler "load" method that accepts a collection of users... it is easy but I am not sure I can do

[2016-03-30 16:50] timgluz commented on #17
Thanks for quick response.

I tried & googled many solutions, i cant create instance of SimpleFastUserIndex, which i could initialize with lambda-fn like your example does.
I keep getting `CompilerException java.lang.IllegalArgumentException: No matching ctor found for class es.uam.eps.ir.ranksys.fast.index.SimpleFastUserIndex`

It's fine - i can write my own implementations against UserIndex inte

[2016-03-30 16:50] #17 closed, assigned to nobody

[2016-03-30 21:32] saulvargas commented on #17
Hi Tim,

I've just added a "better-indexes" branch to the project, which allows the creation of SimpleFast(User|Item|Feature)Index objects with Stream of objects.

I'll probaby merge with the master branch whenever I find some time to add some unit test for these new changes. You can use meanwhile this temporary branch by setting the version of the project to "better-indexes-SNAPSHOT".

Cheers
Saú

[2016-03-31 08:01] timgluz commented on #17
Thanks,

i will try out tonight .

[2016-03-31 23:08] saulvargas opened #18 "Recommender conventions cannot force empty recommendations when maxLength == 0"
By convention, when free and filter recommendations in classes implementing the Recommender interface set the input parameter maxLength to 0, they produce a recommendation as large as the total number of items that can be recommended. This is confusing and does not allow returning empty recommendation lists (it seems useless but logic anyway).

Something more consistent and intuitive needs to be d

[2016-03-31 23:41] saulvargas commented on #17
The "better-indexes" branch has been merged with the master branch.

[2016-04-03 17:50] #18 closed, assigned to saulvargas

[2016-05-23 18:25] jacekwasilewski opened #24 "Normalisation in LambdaReranker"
Hi @saulvargas,

I wanted to ask you if there is any particular reason why the normalisation for relevance and novelty is done every time an item is selected by the re-ranker, not once for all entries? As far as I am concerned, single normalisation should be enough.

I need to check the actual values that the re-ranker would output and the current normalisation changes slightly the formulation I t

[2016-05-23 22:44] jacekwasilewski commented on #24
Ok, I see the reason why we cannot (I think) normalise the scores just once (or calculate the Stats once).
But if the Stats are gathered before every single selection, does not it mean that the re-ranking objective:
(1 - lambda) \* relevance + lambda \* novelty
is changed and that the proportion between relevance and novelty is not exactly lambda any more?

[2016-05-27 14:06] saulvargas commented on #24
Hi @jacekwasilewski,

LambdaReranker is a greedy algorithm, that means that, after each iteration, at least one of the scoring functions changes completely as it has to take into account the newly added item. Also, the pool of items to select from decreases and defines, somehow, two new distributions with different norms and variances. These two facts arguably justify the need for new normalisatio

[2016-05-27 22:18] jacekwasilewski commented on #24
Thanks Saul, that's really helpful!

[2016-05-27 22:18] #24 closed, assigned to nobody

[2016-06-09 14:26] nachoft opened #25 "Exception in binomial model when alpha = 1"
Hi @saulvargas

It looks like method patience() in class BinomialModel.UserBinomialModel throws an OutOfRangeException (out of [0, 1] range) when alpha = 1. I think the problem is that feature probabilities are not normalized in this particular case in method getUserFeatureProbs()?

Thanks!

[2016-06-09 16:20] abellogin opened #26 "Generalize AbstractFastPreferenceData"
The following methods:

[code]

should be possible to be implemented just by calling other abstract (or non abstract) methods.

As an example, the last four could be:

[code]

[2016-06-09 21:24] saulvargas commented on #25
Hi @nachoft

Thanks a lot for this! I've fixed the code and added a unit test for BinomialModel.

Saúl

[2016-06-09 21:25] saulvargas commented on #25
Well... before merging, would you mind taking a look at the commit https://github.com/RankSys/RankSys/commit/192f9590e79cef5ffadd82306a098ddb71b63e9c

[2016-06-09 21:26] PinkAppleFlower commented on #25
@saulvargas I think you want to check the line of code for calculating p0

[2016-06-09 21:28] PinkAppleFlower commented on #25
In particular, p0 might need to be calculated as (1-pf) raised to the (n-k) power, not to the nth power.

so:   double p0 = Math.pow(1 - pf, N);

changes to:
  double p0 = Math.pow(1 - pf, (N-k));

[2016-06-09 21:30] saulvargas commented on #25
Hi @PinkAppleFlower

You mean inside the "patience" function? What would be the logic behind that change? Do you think it is related to this bug or it would be another one?

Cheers

[2016-06-09 21:53] PinkAppleFlower commented on #25
Hi @saulvargas:
I am not sure, it might be the same issue.  Can you please explain what pf is?

Cheers,

[2016-06-09 21:58] saulvargas commented on #26
This is a great suggestion.
Could you please check that the commit https://github.com/RankSys/RankSys/commit/b0b25d67c17c5dcec6201450115735cd0d92dbce does what you suggest?

Cheers
Saúl

[2016-06-09 22:02] saulvargas commented on #25
@PinkAppleFlower, I believe your comment is not strictly related to the current bug.

Please check the paper where the binomial diversity model is presented (http://ir.ii.uam.es/saul/pubs/recsys2014-vargas-tid.pdf) for more details.

[2016-06-09 22:22] PinkAppleFlower commented on #25
@saulvargas Okay, you might be right, below are the rest of my comments for this bug currently.  I think my comments are related, because when I look at the patience method, it seems possible for results that are out of bounds to be returned, see below for more details.

The logic behind this change is:

(1) the Math.power function raises the first argument to the power of the second argument.

(2

[2016-06-10 07:49] abellogin commented on #26
Indeed! I didn't consider the case stream vs iterator, so this enhancement makes the code a little bit easier to follow ;)

Thanks!

[2016-06-10 09:29] saulvargas commented on #25
Hi @PinkAppleFlower

It is not a related issue to the current bug but, anyway, it deserves some comment. Thanks for pointing it out.

Basically, as you can read in the paper, "patience" or "redundancy" penalisation is only applied for the cases where k >= 1. Indeed, we assume that the perfect situation is when you recommend a genre just once in a recommendation, and then k > 1 you start becoming r

[2016-06-10 09:30] saulvargas commented on #26
Good... l will merge it to master anytime soon.

[2016-06-13 10:19] vinceRicchiuti opened #27 "Needs help with Novelty & Diversity Metrics"
Hi All,
i know that this is my issue but i'm using this tool for my thesys project and i have to evaluate the novelty and diversity of the recommendations of my RecSys. Since i use the example find here, i notice that changing the file of recommendations, values of metrics are NaN or remain the same. I need to evaluate for closing my degree work. Can anyone help my doind this? Thanks in advance

[2016-06-13 10:21] saulvargas commented on #27
Hi @vinceRicchiuti

Thanks for you interest in RankSys. Please provide me with some more details about what you are trying to do, including:
- Version of RankSys that you are using.
- Commands that you are running.
- Files that you are using as input (or a representative fraction from it).
- The output that you get.

Cheers
Saúl

[2016-06-13 10:25] vinceRicchiuti commented on #27
Can i write to your email that i found in your account details?
Vincenzo

[2016-06-13 10:28] saulvargas commented on #27
Sure. Would it be OK if I publish afterwards the main findings of this issue provided that I find them useful for the rest of the users of RankSys?

[2016-06-13 10:29] vinceRicchiuti commented on #27
Sure! It's only for not writing unuseful things before understanding what i am doing wrong.

[2016-06-13 19:51] saulvargas opened #28 "FDItemNovelty produces Infinity values"
Reason: norm in line 64 is not casted to double.

Thanks to @vinceRicchiuti for unveiling it.

[2016-06-13 19:54] #28 closed, assigned to nobody

[2016-06-13 20:01] saulvargas opened #29 "Recommendations in files may not need to be sorted by decreasing score"
At the moment the implementations of RecommendationFormat assume that the recommendations are sorted by decreasing score. Although it is documented, it may not be evident and, as seen in #27, can cause confusion.

Goal: add and option so that once the recommendations for a user have been read, they get sorted by decreasing predicted score.

[2016-06-13 20:03] saulvargas opened #30 "Improve documentation for FeaturesReader and implementing classes"
The format and type of files read by FeaturesReader and implementing classes are not evident. It needs to be clarified in the wiki and the javadoc.

[2016-06-13 20:04] saulvargas commented on #27
Solved offline.
Issues #28 #29 #30 created as consequence.

[2016-06-13 20:04] #27 closed, assigned to nobody

[2016-06-15 12:16] jacekwasilewski opened #31 "Aspect models - proposal"
Hi @saulvargas,

I would like to propose a change in the IntentModel and the xQuAD/RxQuAD - I will send the code later, after polishing it a bit.

First, after working more with the intent-aware framework, the change from #13 does not make sense, I mean, having the method for p(u | f) - not a part of the aspect model.

The aspect model (e.g. in Hofmann, Puzicha, & Jordan, 1999) is defined as the p

[2016-06-24 13:48] jacekwasilewski commented on #31
Hi @saulvargas,

I have pushed the first version of the code, how it could look like. It is not ideal, there is one thing that I do not like about it but I am not sure how else that could be solved - maybe you will have an idea.

So, what I did:
- I removed p(u | a) from the intent model
- I created an aspect model class that uses already existing intent model classes - user aspect model kind of d

[2016-07-01 20:57] #25 closed, assigned to nobody

[2016-07-01 22:14] saulvargas commented on #29
Now TuplesRecommendationFormat and sub-classes have an option in which it can be requested that recommendations are sorted by decreasing scores per user.

[2016-07-01 22:14] #29 closed, assigned to nobody

[2016-07-01 22:14] #26 closed, assigned to nobody

[2016-07-03 20:22] saulvargas commented on #31
Hi @jacekwasilewski

Thanks for the PR. It is definitely a problem that the scores need to be pre-computed before applying the diversification step. First, it prevents the xQuAD from being applied in an online manner. Second, you need a lot of memory (specially for datasets where you have 100Ks users) to store them. Third, that is not the intended use of the PrefereceData structure.

I am delighte

[2016-07-04 16:26] jacekwasilewski commented on #31
Hi @saulvargas,

I changed the PR that these three issues are solved. So the whole change would be about moving the pi_f methods out to form an aspect model. There is a `initializeWithItems` method to pass items to the aspect model. I though it is not elegant as you need to know to call it but on other hand there is only one aspect-based re-ranker right now and probably there will not be many, so

[2016-08-29 12:10] saulvargas commented on #31
Hi @jacekwasilewski

It definitely took me too much time to get back to you, I'm really sorry!!!

I am mostly OK with your proposed changes, see if the following commit on top of your PR makes sense: https://github.com/RankSys/RankSys/commit/b3219776b14dc0834a73ef5e6f4ab63e307ea31f

[2016-08-29 12:18] jacekwasilewski commented on #31
Hi @saulvargas

No worries!
I am fine with the changes.

Jacek.

[2016-08-29 12:33] #31 closed, assigned to nobody

[2016-08-30 18:17] saulvargas opened #33 "Documenting aspect models"
Hi @jacekwasilewski

I am updating the wiki for the version 0.4.3 of RankSys which features, among other things, your proposed Aspect Model. Would you mind taking a look at the documentation in the wiki (https://github.com/RankSys/RankSys/wiki/Novelty-and-Diversity#intent-aware-diversity) to see if you could update it to summarise briefly (one or two sentences would suffice) what are the aspect mo

[2016-08-30 22:39] jacekwasilewski commented on #33
Hi @saulvargas

Sure, consider it done.

[2016-10-05 09:09] jacekwasilewski commented on #33
Hi @saulvargas

Took me a while but I changed the documentation for Intent-Aware Diversification to reflect the code. Take a look and let me know if it is fine.

[2016-10-05 20:59] saulvargas commented on #33
It looks great! Thanks!

[2016-10-05 20:59] #33 closed, assigned to jacekwasilewski

[2016-10-20 12:18] jacekwasilewski opened #36 "Examples for PM and Binomial Diversification Frameworks"
Hi @saulvargas

I was wondering if you could add examples of use of the PM and Binomial Diversification, that would match your results from the paper or the thesis - I was trying to reproduce some of your experiments on the ML1m dataset but I was getting really strange results, not even close to what you obtained in your paper or the thesis.
What should go as the `PreferenceData<U, I> recommenderD

[2016-10-21 20:26] saulvargas commented on #36
Hi @jacekwasilewski

Let me revisit some time this weekend the binomial diversification stuff in RankSys. I will try to reproduce part of the results by myself and provide you with the configuration that is required.

That "recommenderData" means training preferences. In very early versions of RankSys, the PreferenceData interface was called RecommenderData, hence the (now inappropriate) name.

Re

[2016-10-22 10:08] saulvargas commented on #36
Hi again,

So I was able to reproduce a couple of rows of table 6.9 in my thesis. This is how they look like:

|  | Cov | Red | Div |
| --: | --: | --: | --: |
| Pop | 0.8429 | 0.2327 | 0.1986 |
| iMF | 0.7869 | 0.3584 | 0.2882 |
| UB | 0.8195 | 0.3292 | 0.2765 |
| IB | 0.7971 | 0.3180 | 0.2580 |

As you can see, little difference wrt what you can see in the chapter.

The code I used can be found

[2016-10-22 12:55] jacekwasilewski commented on #36
Hi @saulvargas

Thanks a lot! Hmm, code looks similar to what I have.. need to check everything once more. Actually I was more interested in the re-ranker but if my BinomialModel is correct then it should work as expected.

One more question - when you were implementing the proportionality re-ranker, which uses the BinomialModel, did you get results somewhere close to what they reported in their p

[2016-11-25 10:52] saulvargas commented on #36
Hi Jacek,

No, I did not check the PM implementation on search tasks.

As you see, the PM in recommendation datasets seems to be working the best when PM. I do not remember the exact reason, but I do remember I run all the experiments in the RecSys paper and my thesis using lambda = 1.0 there.

I am going to try to reproduce some of the results of the BinomialDiversity re-ranker in the ML1M data.

[2016-11-25 11:47] saulvargas commented on #36
So these are the results:

(lambda=1.0, alpha = 0.5, metric cutoff = 20)
imf	prec	0.23214640609473117
imf	binom-red	0.35838774700812975
imf	binom-div	0.2881664905629823
imf	binom-cov	0.7868894280720375
hkv+div	prec	0.1182842000662467
hkv+div	binom-red	0.7807679244862935
hkv+div	binom-div	0.7648955379393582
hkv+div	binom-cov	0.9788536191600012

As you can see, I can reproduce the precision and Bino

[2016-12-10 21:50] jacekwasilewski commented on #36
Hi @saulvargas,

Thanks a lot, that is really useful! I put that problem aside for a while but when I get back to it, I will compare if what I get is close to what you have - it should be.

Thanks again!
Jacek.

[2016-12-10 21:50] #36 closed, assigned to nobody

[2016-12-14 15:32] saulvargas opened #37 "Implement matrix factorisation technique in "Applications of the conjugate gradient method for implicit feedback collaborative filtering""
http://dl.acm.org/citation.cfm?id=2043987

[2016-12-14 15:33] saulvargas opened #38 "Implement "A Generic Coordinate Descent Framework for Learning from Implicit Feedback""
https://arxiv.org/abs/1611.04666v1

[2016-12-19 18:37] fajieyuan commented on #38
I read this paper for almost three weeks and I think I can fully understand it but I cannot reproduce.
Do you want to discuss since I have my re-implementation but the performance is  far away from BPR

[2016-12-19 18:38] fajieyuan commented on #38
I attached the code here, hope you can help me if you can find an error (can be run on librec):
// Copyright (C) 2014 Guibing Guo
//
// This file is part of LibRec.
//
// LibRec is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any l

[2016-12-20 10:47] saulvargas commented on #38
Hi @fajieyuan

Thanks for dropping by!

Indeed, I read the paper a couple of weeks as well. It looks quite elegant and promising. I have not implemented in yet, but I would like to have a performing implementation in RankSys for factorisation machines, although a good old MF version would be very welcomed.

I would not mind taking a look at your code, and maybe adapt it to work with RankSys, where

[2016-12-20 11:10] fajieyuan commented on #38
Hi Saúl，

Thanks for your reply.
Indeed, it looks a very interesting paper.
I totally agree your suggestion. I think before re-implementing FM+CD, a MF version is a good trial for testing the performance. If we succeed in MF version.
I think FM would be close at hand.
You can check my code, which is very clear, short and easy to understand if you follow algorithm2 (I have added notes). But I canno

[2017-01-20 10:18] saulvargas commented on #38
Hi @fajieyuan

Finallly I have some time today to give it a go to this algorithm. Were you able to make any progress with it? I will try to have a minimally working version for RankSys today.

[2017-01-20 10:29] fajieyuan commented on #38
Hi Saúl,
thanks for your reply,
I am currently working on a paper to catch the deadline. Very sorry, I probably do not have time to work on this method at this time. Maybe later.

Best,
Fajie

From: Saúl [mailto:notifications@github.com]
Sent: 20 January 2017 10:18
To: RankSys/RankSys
Cc: FAJIE YUAN; Mention
Subject: Re: [RankSys/RankSys] Implement "A Generic Coordinate Descent Framework for Learn

[2017-01-20 10:34] saulvargas commented on #38
No worries, I'll let you know if I make any progress.

Good luck with your deadline!

[2017-01-20 13:10] saulvargas commented on #38
So... done!

The code is in the "icd" branch, more specifically:
https://github.com/RankSys/RankSys/blob/icd/RankSys-recommenders/src/main/java/org/ranksys/recommenders/mf/icd/ICDFactorizer.java

Will I be able of implement the version for factorisation machines today? Let's see

[2017-01-27 10:08] saulvargas opened #40 "Document CPLSA in Wiki"
Hi @jacekwasilewski

I am updating some bits of the wiki. Whenever you have some time (no hurries at all!!!), could you please add a short explanation of your CPLSA code? You may create a separate page or add it to here https://github.com/RankSys/RankSys/wiki/Novelty-and-Diversity (whatever you find more convenient).

Thanks!

[2017-01-27 10:21] saulvargas opened #41 "Document CPR and PM in Wiki"

[2017-01-27 10:23] saulvargas opened #42 "Document mutable data structures and SQL implementation in Wiki"

[2017-01-27 10:28] saulvargas opened #43 "Document re-factoring of IdPref in Wiki"

[2017-01-27 10:29] saulvargas opened #44 "Update changelog for v0.5.0"

[2017-03-01 13:09] jacekwasilewski commented on #40
Hi @saulvargas
I thought I commented on that - of course, I will add a short explanation. That should happen soon...ish ;)

Jacek.

[2017-03-05 16:23] jacekwasilewski commented on #40
Hi @saulvargas

I rewrote the Intent-aware section a bit, check if it is fine or if I should add something more.

Jacek.

[2017-03-06 13:11] saulvargas commented on #40
Thanks @jacekwasilewski

Yes, I just needed a specific mention to your cpLSA code.

[2017-03-06 13:11] #40 closed, assigned to jacekwasilewski

[2017-05-28 22:35] hangelwen commented on #38
Hi @saulvargas , do you have benchmark of your iCD implementation with other methods regarding to recommendation performance and running time? Thanks

[2017-07-21 00:14] 8-chems opened #45 "java 8 compatibility issue"
hey vargas,
I finally installed maven and tried a compilation, i am on debian, tried both open pre-installed jdk and java 8 (1.8.0_102 and 1.8.0_131), in both i am facing an issue with ranksys-fast and ranksys-format with maven 3.5.0

![aaaa](https://user-images.githubusercontent.com/10013032/28444010-d9f9e746-6db1-11e7-8818-15c22c2e972c.png)

[2017-07-27 19:33] saulvargas commented on #45
Hi,

Sorry for the delay, an issue with my mail filters made me lose Github notifications.

Please let me know what version of RankSys are you trying to use exactly, and what do you get when you run from the command line:
``mvn clean package``

Alternatively, you already have in maven central a compiled version of RankSys in its stable version.

[2017-07-27 20:11] saulvargas commented on #38
Hi @hangelwen

Sorry for the massive delay in answering, my mail filter hid my github notifications!

Just in case it is still of any use to you or anyone, here is a very quick comparison of the iCD method against others that I have implemented in RankSys with the MovieLens1M data:

alg | time | prec@10
--|--|--
hkv | 1m20s | 0.29
lda | 35s | 0.25
fm-rmse | 2m50s | 0.25
pzt | 20s | 0.29
icd | 1m |

[2017-07-28 11:11] 8-chems commented on #45
hey, I have downloaded the whole project from github, so it should be the last version, how could I used the pre compiled version from maven ? thanks a lot for your answer

[2017-07-29 09:23] 8-chems commented on #45
I did get jar files from maven, thank you very much vargas : )

[2017-07-29 12:33] #45 closed, assigned to nobody

[2017-08-11 21:47] 8-chems opened #46 "could you please share some data samples ?"
hey m trying to run some examples, could you share some data samples  related to:

        String trainDataPath = args[0];
        String testDataPath = args[1];
        String featurePath = args[2];
        String recIn = args[3];

[2017-08-11 22:30] 8-chems commented on #46
I have found in another issue that train and test data are in the same format as in movielens data files, so how about features and userpath/itempath ?
        String userPath = args[0];
        String itemPath = args[1];
        String featurePath = args[2];
        String trainDataPath = args[3];
        String testDataPath = args[4];
        String featureDataPath = args[5];

[2017-09-25 09:18] sumitsidana opened #47 "Threshold"
Hi, @jacekwasilewski, @saulvargas

I needed a little help of yours in tuning a parameter for a problem which I am trying to solve.

In Class, es.uam.eps.ir.ranksys.examples.MetricExample, there is a parameter `threshold` as args[4]. Is that to be tuned or taken `0.5` or some other value for all the BinaryRelevanceModels?

Thanks
Sumit

[2017-09-25 14:19] jacekwasilewski commented on #47
Hi @sumitsidana,
I would say it is up to you to decide what rating you treat as a relevant/positive feedback. If e.g. you have ratings on a scale of 1-5, then you could use a threshold of e.g. 4, so 4s and 5s are considered as positive feedback.

[2017-09-25 14:28] sumitsidana commented on #47
Hi @jacekwasilewski

Thank you very much. It makes a lot clearer after your post.

[2017-09-25 14:28] #47 closed, assigned to nobody

[2017-10-18 11:41] jacekwasilewski commented on #46
Hi @ChemsEddineBerbegue,

Sorry, I missed this thread. Not sure if you still need help. Anyway.
Probably raw MovieLens dataset will not work, you have to transform it a bit to run the examples.
`trainDataPath` and `testDataPath` refer to two spilts of the interactions dataset, 3-4 columns (user, item, rating, timestamp), tab-separated.
`featureDataPath` (in the first question `featurePath`) refers

[2017-10-19 22:25] 8-chems commented on #46
Thank you, that worked for me

[2017-10-19 22:25] #46 closed, assigned to nobody

[2017-10-23 23:53] abellogin opened #48 "Typo in function name: readElemens should be readElements"
https://github.com/RankSys/RankSys/blob/3b92c34a4768678d17082c1d4035c1f779ee4857/RankSys-formats/src/main/java/org/ranksys/formats/index/Utils.java#L23

[2017-11-11 13:34] #6 closed, assigned to nobody

[2017-11-11 13:35] #30 closed, assigned to nobody

[2017-11-11 13:35] #37 closed, assigned to nobody

[2017-11-11 13:35] #38 closed, assigned to nobody

[2017-11-11 13:35] #41 closed, assigned to saulvargas

[2017-11-11 13:35] #42 closed, assigned to saulvargas

[2017-11-11 13:35] #43 closed, assigned to saulvargas

[2017-11-11 13:36] #44 closed, assigned to saulvargas

[2017-11-11 13:36] #48 closed, assigned to nobody

[2017-11-11 13:43] saulvargas opened #49 "Bye bye RankSys"
Dear RankSys users,

RankSys is now an abandoned project. The source code will remain available, but no fixes or improvements will be added to this repository. Any initiatives complying with the license of the project are kindly welcomed.

Thank you for your interest, it has been fun!
Saúl

[2017-11-20 11:32] #49 closed, assigned to nobody

[2017-11-20 11:33] JavierSanzCruza opened #50 "RankSys is up again"

[2018-01-25 00:33] thacianacerqueira opened #51 "Could you please help me with some info about data example?"
Hello,

I'm trying to run some examples. Could you please help me with some info about it:

1 – In issues #46, you said that “ trainDataPath and testDataPath refer to two spilts of the interactions dataset, 3-4 columns (user, item, rating, timestamp), tab-separated”.

The rating value could be from 0 to hundreds?
The information in  trainDataPath and testDataPath could be different from rating and

[2018-01-26 00:30] saulvargas commented on #51
Hi,

1) Ratings in SimpleFastPreferenceData (the PreferenceData instance used in the examples) can contain any double value. In the default implementation, the third field can be any numerical value, and the fourth field (typically timestamp) is actually ignored in most subclasses of PreferenceData.

2) Yes, you can have more than one genre per item, or different types of attributes mixed. However

[2018-02-01 02:22] thacianacerqueira commented on #51
Thank you, that worked for me.

[2018-02-01 02:22] #51 closed, assigned to nobody

[2018-02-21 00:42] anis016 opened #52 "Problem in reading the ml-100k dataset for trainData in the example"
Hello,

I was planning to use RankSys for one the project that I am doing in Java.
I tried to run the example RecommenderExample code given for the movie recommendation but while reading the data I am always stuck up in ArrayIndexOutOfBoundsException issue.

This is how I am reading the data.

`String userPath = "/home/anis/Java_Workspace/u.user";
 String itemPath = "/home/anis/Java_Workspace/u.it

[2018-02-21 10:40] JavierSanzCruza commented on #52
Hello,

I think your problem might be caused by the u.user and u.item files you are using. The version of this files provided with the movielens-100k dataset includes not only the identifiers of the users / items, but plenty of additional information. UserReader/ItemReader classes only need the first field of those files (the identifier of the corresponding user/item). If the identifiers were sepa

[2018-02-21 19:34] anis016 commented on #52
Thank you !

That was exactly the problem.. and now it worked ! Was able to run the Recommender and get the output file as well.

Could you please able to help me about one more thing ...
So, the fm-rmse is generated in this way

402	127	0.9835266055943525
402	405	0.9410559667572137
402	284	0.9343284158253462
402	151	0.9180604049936395
402	121	0.905954764907684
402	174	0.890890200226765
402	129	0.

[2018-02-21 20:38] JavierSanzCruza commented on #52
As you said, the first column represents the user, the second represents the movie the system recommends to the user. The third is the score the recommendation algorithm generates for that user and movie pair. It should be noted that the recommendation rating is not necessarily a prediction of a possible future rating.

[2018-02-21 20:45] anis016 commented on #52
Fantastic ! thank you so much ... I am closing this issue :+1:

[2018-02-21 20:45] #52 closed, assigned to nobody

[2018-02-25 21:21] anis016 opened #53 "Problem in understanding the score value of the output of fm-rmse"
Hello !

I am bit confused about the "fm-rmse" generated. So, after running I got the output as below

143	300	1.0382524187063291
143	245	0.9832457247884757
143	328	0.9742608167403299
143	302	0.9294914297314028
143	340	0.8702918462742051
143	332	0.8436575245074303
.
.

I understand that, the first column represents the user, the second represents the movie the system recommends to the user. The th

[2018-02-25 21:24] jacekwasilewski commented on #53
Hi @anis016,
this library is rather designed for the ranking recommendation task, rather than the rating prediction. While some of the implementations might work well on the rating prediction (like matrix factorisations) it is not generally true. The scores are generally used to build ranked lists of recommendation. It is worth pointing out that nowadays the ranking task seems to be more relevant

[2018-03-02 22:37] anis016 commented on #53
uh.. Thank you ! I understand :-)

[2018-03-02 22:37] #53 closed, assigned to nobody

[2018-06-06 18:47] bkj opened #54 "Movielens benchmark"
At 27:15 in [this video](https://www.youtube.com/watch?v=AQ0EjOJnu9Q), the speaker mentions that @saulvargas provided some benchmarks for a "binary prediction of a random 80/20 split of the MovieLens 20M dataset".

Does anyone here know exactly what he means?  Eg, how the split was done, how the popularity baseline works, how the matrix factorization baseline works, etc?

Thanks!
Ben

[2018-06-06 19:35] saulvargas commented on #54
More details here: https://github.com/amzn/amazon-dsstne/issues/24
I tried to benchmark DSSTNE with some of the algorithms in RankSys, but I obtained very poor performance with the former. The author of DSSTNE claims he did some fixes and managed to improve on my results, but I have not been able to replicate that.

[2018-06-06 19:35] #54 closed, assigned to nobody

[2018-06-06 19:40] bkj commented on #54
Great -- thanks for the pointer.  Will post here if I manage to figure anything out.

[2018-06-06 19:42] bkj commented on #54
Also -- I know this was a long time ago, but... do you know how you got the
[code]
number?

I'm getting ~0.085 -- but maybe I'm doing the split differently...

[2018-06-06 20:01] saulvargas commented on #54
Are you running the script in https://github.com/saulvargas/dsstne-comparison/blob/master/run.sh ?

Otherwise, yes, slight variations in the split can justify this discrepancy. I would not worry too much about absolute values, but on relative ones.

[2018-06-06 20:18] bkj commented on #54
I'm doing something similar, though not using that script.  I've been able to get >0.3 P@10 using the models posted in that thread -- since you weren't able to reproduce Scott's results, I'll have to dig into your code to see what we're doing different.

[2018-06-06 22:23] bkj commented on #54
Here's some scripts that get 0.35 P@10: https://github.com/bkj/dsstne-scripts

Let me know if you have a chance to take a look, and if there's anything obviously wrong.

[2018-06-10 20:07] saulvargas commented on #54
What about the baselines from RankSys in your setup?

To be honest, I have not used DSSTNE or RankSys in a while, nowadays I use Keras.

[2018-06-10 20:58] bkj commented on #54
I haven't had time to look at the RankSys baselines specifically, but I've been able to get 0.25-0.28 using matrix factorization methods, which is in line w/ your results.

Makes sense to do these models in Keras -- though I bet it's substantially slower than DSSTNE.  I used `pytorch` to implement a simple fully connected network to imitate the [DSSTNE model](https://github.com/bkj/dsstne-scripts/

[2019-09-05 09:51] prajnaupadhyay opened #55 "Need help in running RerankerExample.java"
Hi,

I want to use this library to re-rank a set of 1000 documents using QUAD framework. My setting does not involve multiple users, instead only a set of documents (we can assume only a single user is involved) using the framework proposed in this paper (http://wwwconference.org/proceedings/www2010/www/p881.pdf) I could format trainDataPath with my data, but am unable to figure out what should th

[2019-11-19 14:41] JavierSanzCruza commented on #55
Hello,

Sorry for delay on the response.

About the information you need, featurePath should include the different features for each item which you are using for applying the reranking. The format for this file is the following:

For example, let's suppose that your documents have as features some tags created by users, and, as values for those features, the number of times those features have bee

[2020-11-02 08:40] lostingz opened #60 "org.ranksys.javafm package not found in branch master"
org.ranksys.javafm package not found in branch master

[2020-11-06 19:03] JavierSanzCruza commented on #60
Hello,

Right now, the org.ranksys.javafm package is available on an archived project: JavaFM
[https://github.com/RankSys/JavaFM](https://github.com/RankSys/JavaFM)
There, you should find the missing files.

[2021-12-17 06:29] agb2k opened #62 "RankSys for Python"
This library is quite interesting but it's difficult to consider it due to the fact that it's written in Java and most related Machine Learning and Recommender System tools and frameworks are in Python making it difficult for both these libraries and tools to work together.

[2021-12-17 08:05] saulvargas commented on #62
Hi! I am one of the authors of RankSys.

Thank you for your interest in this library. As you can see, barely no work on this library has been done in the last 5 years and, to be honest, that is unlikely to change. Indeed, if this library was to be written now, Python would have been the language of choice, but 2010 (when the first lines of code that ended up becoming RankSys) was a different time.

[2021-12-17 09:39] agb2k commented on #62
Ah I understand. I particularly found the novelty and diversity metrics interesting as I wasn't able to find it in most other frameworks. Thanks for your work and the suggestions!